@model List<Movie>

@foreach(Movie movie in Model)
{
    <h1>----------------------------------</h1>
    <h2>@movie.Name</h2>
    <h4>Genre: @movie.Genre</h4>
    <h4>Year of release: @movie.ReleaseYear</h4>
    <h4>Budget: $@movie.Budget</h4>
    <h1>----------------------------------</h1>
}

